.card {
    background-color: red;
    width: 100%;
    height: 241px;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.card h2 {
    font-weight: normal;
    text-align: center;
    font-size: 1.9rem;
}

.card-images {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 1rem;
}

.card-details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.card-details > div {
    display: flex;
    flex-direction: column;
}

.card-details > div:last-child {
    text-align: right;
}

.disabled {
    background-color: #d0d0d0;
}
