* {
    font-family: PTMono;
    margin: 0;
    padding: 0;
}

:root {
    --bitcoin: #ffae34;
    --ninja-bank: #222222;
    --blockchain: #8b58f9;
    --evil-corp: #f33355;
}

body {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: SourceSans;
    src: url(assets/SourceSans.ttf);
}

@font-face {
    font-family: PTMono;
    src: url(assets/PTMono.ttf);
}
